extends layout/base
include mixins/title
include mixins/editor
include mixins/card
include mixins/selector
include mixins/modal

block contents
    include mixins/sidebar
    +title("테스트 보안 저장소")
    main.w-100.flex-grow-1.mt-5
        .container
            .vstack.gap-3
                .card 
                    .card-body 
                        h5 파일 목록
                        table.table
                            thead
                                tr
                                th(scope="col") #
                                th(scope="col") 파일명
                                th(scope="col") 요청자
                                th(scope="col") 요청일자
                            tbody.table-group-divider
                                tr
                                th(scope="row") 1
                                td Mark
                                td Otto
                                td @mdo
                                tr
                                th(scope="row") 2
                                td Jacob
                                td Thornton
                                td @fat
                                tr
                                th(scope="row") 3
                                td(colspan="2") Larry the Bird
                                td @twitter

                +editor
        +passwordModal
