extends layout/base
include mixins/title
include mixins/editor
include mixins/card
include mixins/selector

block contents
    include mixins/sidebar
    +title("프로세스 등록 및 관리")
    main.w-100.flex-grow-1.mt-5
        .container
            .vstack.gap-3
                -
                    var items = [
                        {
                            id: "project",
                            title: "프로젝트"
                        },
                        {
                            id: "class-1",
                            title: "분류 1"
                        },
                        {
                            id: "class-2",
                            title: "분류 2"
                        },
                    ]
                +selector(items)
                .row.row-cols-5.g-3
                    +processEditCard
                    +processEditCard
                    +processEditCard
                    +processEditCard
                    +processEditCard
                    +processEditCard
                    +processEditCard
                +editor
