extends layout/base
include mixins/title
include mixins/editor
include mixins/card
include mixins/selector
include mixins/modal

block contents
    include mixins/sidebar
    +title("라이브러리 배포")
    main.w-100.flex-grow-1.mt-5
        .container
            .vstack.gap-3
                -
                    var items = [
                        {
                            id: "project",
                            title: "프로젝트"
                        },
                        {
                            id: "class-1",
                            title: "분류 1"
                        },
                        {
                            id: "class-2",
                            title: "분류 2"
                        },
                    ]
                +selector(items, "#deployModal")
                .row.row-cols-5.g-3
                    +deployCard
                    +deployCard
                    +deployCard
                    +deployCard
                    +deployCard
                    +deployCard
                    +deployCard
                +editor
        +deployModal
        +emergencyModal
