extends layout/base
include mixins/title
include mixins/editor
include mixins/card
include mixins/selector

block contents
    include mixins/sidebar
    +title("테넌트별 상태조회")
    main.w-100.flex-grow-1.mt-5
        .container
            .vstack.gap-3
                #tree 
                +editor

block scripts
    script.
        const json = [
            {
                text: "Inbox",
                icon: "bi bi-inbox-fill",
                nodes: [
                    {
                        text: "Office",
                        icon: "bi bi-inbox-fill",
                        nodes: [
                            {
                                icon: "bi bi-inbox-fill",
                                text: "Customers",
                            },
                            {
                                icon: "bi bi-inbox-fill",
                                text: "Co-Workers",
                            },
                        ],
                    },
                    {
                        icon: "bi bi-inbox-fill",
                        text: "Others",
                    },
                ],
            },
        ];
        const tree = new bstreeview(document.querySelector("#tree"), {
            data: json,
            expandIcon: "bi bi-chevron-right",
            indent: 1.5,
            parentsMarginLeft: "1.5rem",
            openNodeLinkOnNewTab: true,
        });
