-
    var menus = [
        {
            id: "job",
            title: "업무",
            icon: "bi-magic",
            contents: [
                {
                    text: "업무 수행 및 중지",
                    href: "job"
                },
                {
                    text: "프로세스 등록 및 관리",
                    href: "job-process"
                },
                {
                    text: "스케줄 등록 및 관리",
                    href: "job-schedule"
                }
            ]
        },
        {
            id: "monitoring",
            title: "모니터링",
            icon: "bi-display",
            contents: [
                {
                    text: "로봇 수행현황 및 수행시간 집계",
                    href: "statistics-robot"
                },
                {
                    text: "업무 수행현황 및 수행시간 집계",
                    href: "statistics-job"
                },
                {
                    text: "로봇 라이선스 운영현황 조회",
                    href: "license"
                },
                {
                    text: "테넌트별 상태조회",
                    href: "tenant"
                }
            ]
        },
        {
            id: "git",
            title: "형상관리",
            icon: "bi-git",
            contents: [
                {
                    text: "RPA Script 배포",
                    href: "script-deploy"
                },
                {
                    text: "Library 배포",
                    href: "library-deploy"
                },
                {
                    text: "긴급 배포",
                    href: "emergency-deploy"
                }
            ]
        }
    ]
