html,
body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    padding-left: 5rem;
    position: relative;
}

.sidebar {
    width: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1046;
    .sidebar-button {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.sidebar-details {
    .offcanvas {
        padding-left: 5rem;
        .offcanvas-header {
            height: 5rem;
        }
    }
}

.titlebar {
    height: 5rem;
    z-index: 998;
}

.logo {
    height: 5rem;
    img {
        width: 100%;
        max-height: 100%;
    }
}

.job-twin-buttons {
    button {
        &:first-child {
            border-radius: 0 0 0 $card-border-radius;
        }
        &:last-child {
            border-radius: 0 0 $card-border-radius 0;
        }
    }
}

.cm-editor {
    outline: none !important;
}

.table-group-divider {
    border-top-color: $card-border-color;
}
