$prefix: gr-;
$font-family-sans-serif: pretendard, -apple-system, blinkmacsystemfont,
    system-ui, roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
$card-border-width: 0;
$btn-border-width: 0;
$btn-border-radius: 1rem;
